<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="EstiloBoton.css">
    <link rel="js" href="Funcion.js">
</head>
<body>
    <body class="js-head-offset head-offset {% if customer %}customer-logged-in{% endif %} template-{{ template | replace('.', '-') }}">
        <div class="wa__btn_popup">
                   <div class="wa__btn_popup_txt">¿Necesitás ayuda? <strong><br>Chateá con nosotros!</strong></div>
                   <div class="wa__btn_popup_icon"></div>
               </div>
               <div class="wa__popup_chat_box">
                   <div class="wa__popup_heading">
                       <div class="wa__popup_title">Iniciar una conversación</div>
                       <div class="wa__popup_intro">¡Hola! Hacé clic en uno de nuestros canales para chatear por <strong>WhatsApp </strong></div>
                   </div> 
                   <div class="wa__popup_content wa__popup_content_left">
                       <div class="wa__popup_notice">El equipo suele responder en unos minutos.</div>                        
                       <div class="wa__popup_content_list">
                           <div class="wa__popup_content_item ">
                               <a target="_blank" href="https://wa.me/5491124070718" class="wa__stt wa__stt_online">                    
                                   <div class="wa__popup_avatar">
                                       <div class="wa__cs_img_wrap" style="background: url(https://d2r9epyceweg5n.cloudfront.net/stores/004/182/091/rte/avatar1.png) center center no-repeat; background-size: cover;"></div>
                                   </div>                        
                                   <div class="wa__popup_txt">
                                       <div class="wa__member_name">Ventas Iluminación Decorativa</div>
                                       <div class="wa__member_duty">Diseñadora Andrea</div>
                                   </div>
                               </a>
                           </div>            
                       </div>
                       <div class="wa__popup_content_list">
                           <div class="wa__popup_content_item ">
                               <a target="_blank" href="https://wa.me/5491123887302" class="wa__stt wa__stt_online">                    
                                   <div class="wa__popup_avatar">
                                       <div class="wa__cs_img_wrap" style="background: url(https://d2r9epyceweg5n.cloudfront.net/stores/004/182/091/rte/avatar2.png) center center no-repeat; background-size: cover;"></div>
                                   </div>                        
                                   <div class="wa__popup_txt">
                                       <div class="wa__member_name">Ventas a Profesionales (Arq)</div>
                                       <div class="wa__member_duty">Diseñador Martin Mijael </div>
                                   </div>
                               </a>
                           </div>            
                       </div>
                       <div class="wa__popup_content_list">
                           <div class="wa__popup_content_item ">
                               <a target="_blank" href="https://wa.me/5491125154876" class="wa__stt wa__stt_online">                    
                                   <div class="wa__popup_avatar">
                                       <div class="wa__cs_img_wrap" style="background: url(https://d2r9epyceweg5n.cloudfront.net/stores/004/182/091/rte/avatar3.png) center center no-repeat; background-size: cover;"></div>
                                   </div>                        
                                   <div class="wa__popup_txt">
                                       <div class="wa__member_name">Ventas a Profesionales (Arq)</div>
                                       <div class="wa__member_duty">Diseñador Facundo</div>
                                   </div>
                               </a>
                           </div>            
                       </div>   
                   </div>
               </div>
       
</body>
</html>